.italic {
	font-style: italic;
}

.selettoreCitta .card:hover {
	box-shadow:  10px  10px 5px #dedede,
              	-10px -10px 5px #dedede,
               	 10px -10px 5px #dedede,
              	-10px  10px 5px #dedede;
}

.theband {
	text-align: center;
}

.theband .card {
	width: 18rem; 
	margin: 5% auto;
}