.text-center {
	margin-bottom: 15%;
}

.text-center .card-text {
	font-style: italic;
}

.tourdates {
	text-align: center;
}

.tourdates .card {
	min-width: 18rem; 
	margin: 5% auto;
}

.listaDate h4 {
	color: white;
}

.listaDate ul {
	padding: 0 20%;
}

.listaDate li {
	list-style-type: none;
	border: 1px solid grey;
	background-color: white;
}

.listaDate li p {
	margin-bottom: 3px;
}

.text-center .card-text {
	font-style: italic;
}